In [1]:
#Box for imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data_set_1 = pd.DataFrame({
    'age': [25,18,34,10,15,70],
    'name': ['courtney', 'ceci', 'alex', 'natalie','sari','meredith'],
    'color':['pink','pink','purple','blue','green','yellow']
})
data_set_1

   age      name   color
0   25  courtney    pink
1   18      ceci    pink
2   34      alex  purple
3   10   natalie    blue
4   15      sari   green
5   70  meredith  yellow

In [3]:
data_set_2 = pd.DataFrame({
    'age': [20,25,18,7,55,30],
    'name': ['edith', 'robert', 'julian', 'jamie','colin','nick'],
    'color':['red','orange','yellow','green','green','blue']
})
data_set_2

   age    name   color
0   20   edith     red
1   25  robert  orange
2   18  julian  yellow
3    7   jamie   green
4   55   colin   green
5   30    nick    blue

In [ ]:
#Homework:
#1: Filter Dataset 1 for only people older than 20 or fav color = green
#2: Combine Dataset 1 and Dataset 2 into one large dataset
#3: Using the combined dataset, filter for everyone whose name starts with the first half of the alphabet (A-M)
#4: Using the larger dataset, filter for people whose first name is <5 chars long AND their fav color is pink
#5: Create a histogram of all ages in combined dataset