In [1]:
#Box for imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
lesson = pd.DataFrame({'key': ['courtney', 'courtney', 'courtney', 'courtney', 'courtney', 'ceci', 'ceci', 'ceci', 'ceci'],
             'value': ['a', 'a', 'b', 'c', 'd', 'a', 'a', 'b', 'b']})
lesson

        key value
0  courtney     a
1  courtney     a
2  courtney     b
3  courtney     c
4  courtney     d
5      ceci     a
6      ceci     a
7      ceci     b
8      ceci     b

In [3]:
dedup_total_data = lesson[['key', 'value']].drop_duplicates().sort_values(by='value')

In [4]:
dedup_key = lesson[['key']].drop_duplicates()

In [5]:
final_results = pd.DataFrame({})
for unique_key in dedup_key.key.tolist():
    filtered = dedup_total_data.loc[dedup_total_data['key']==unique_key]
    final_results = final_results.append({'key':unique_key,'value':filtered.value.tolist()}, ignore_index=True)
    print (unique_key)

courtney
ceci

In [7]:
filtered

    key value
5  ceci     a
7  ceci     b

In [6]:
final_results

        key         value
0  courtney  [a, b, c, d]
1      ceci        [a, b]

In [9]:
for index, row in lesson.iterrows():
    print (row['key']+row['value'])

courtneya
courtneya
courtneyb
courtneyc
courtneyd
cecia
cecia
cecib
cecib

In [5]:
numbers = [1,2,3,4,5]

for i in numbers:
    i+=1
    print(i)

2
3
4
5
6

In [ ]:
#Assignment 1
for number in loop:
    if number